* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
}

header {
	background-color: #404cf8db;
	color: #fff;
	padding: 10px;
	text-align: center; /* añade esta línea para centrar el contenido */
}

header h1 {
	font-size: 36px;
	margin: 0;
	text-align: center; /* añade esta línea para centrar el contenido */
}

nav ul {
	list-style: none;
	display: flex; /* añade esta línea para utilizar flexbox */
	justify-content: center; /* añade esta línea para centrar los elementos */
	margin: 0;
	padding: 0;
}
footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #404cf8db;
    color: white;
    text-align: center;
    padding-top: 20px;
}
nav li {
	margin: 0 10px; /* añade un margen a los elementos para separarlos */
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
.slider {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.slider-container {
	margin-top: 110px;
	display: flex;
	overflow-x: hidden;
}
.slide {
	flex-shrink: 0;
	width: 40%;
}
.video {
	width: 50%;
}
.description {
	margin-top: 20px;
	font-size: 18px;
	text-align: left;
}
.controls {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
button {
	padding: 5px;
	font-size: 20px;
	border: none;
	background-color: #7d86fadb;
	cursor: pointer;
}
.boton {
	margin-top: 30px;
	display: inline-block;
	background-color: #404cf8db;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-right: 20px;
  }
  
  /* Estilos para el contenedor del botón */
  .boton-container {
	float: left;
	margin-left: 20px;
  }